body{
    background-image: url("https://images.rawpixel.com/image_1100/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjM1MC1hZGotMjEtd2F0ZXJjb2xvcmVsZW1lbnRzXzIuanBn.jpg"); 
    background-repeat: no-repeat; 
    background-size: 10px; 
}